* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

body {
    background-color: #FBFBFB !important;
}

section {
    margin: 15vh auto;
    padding: 0px 10%;
}

.white-space {
    width: 100%;
    height: 80vh;
}

/* -------------- Navbar -------------- */
nav {
    padding-left: 10% !important;
    padding-right: 10% !important;
    background-color: #1A6755;
}

.navbar-toggler { 
	outline: none !important;
}

.navbar-brand {
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav-link {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    font-weight: 700;
	color:#FFF !important;
	transition: 0.4s;
}

.nav-link:hover {
	color: #D1FADE !important;
	transition: 0.4s;
}
/* ------------------------------------ */

/* ------------- Landing Page  ------------- */
.landing .text-1 {
    position: absolute;
    top: 27%;
    left: 13%;
    font-size: 3vw;
    color: #B9DACA;
}

.landing .text-2 {
    position: absolute;
    top: 31%;
    left: 13%;
    font-size: 15.5vw;
    font-weight: 700;
    color: #1A6755;
}

.landing .text-3 {
    position: absolute;
    top: 31%;
    right: 13%;
    font-size: 15.5vw;
    font-weight: 700;
    color: #1A6755;
}

.landing img {
    position: absolute;
    top: 29%;
    right: 13%;
    width: 41vw;
    height: auto;
}
/* ------------------------------------ */

/* ------------- Section 1  ------------- */
.section-1 {
    margin-bottom: 12vw;
}

.section-1 img {
    width: 27.5vw;
    height: auto;
}

.section-1 .heading {
    margin-bottom: 8vh;
    display: flex;
    justify-content: center;
}

.section-1 .text-1 {
    padding: 0px 1.2vw;
    font-weight: 700;
    font-size: 4vw;
    color: #75B89B;
}

.section-1 .text-2 {
    font-weight: 700;
    font-size: 4vw;
    color: #1A6755;
}

.section-1 .info {
    font-weight: 600;
    font-size: 1.7vw;
    color: #1A6755;
}
/* ------------------------------------ */

/* ------------- Section 2  ------------- */
.section-2 {
    margin-bottom: 12vw;
}

.section-2 .heading {
    margin-bottom: 8vh;
    display: flex;
    justify-content: center;
}

.section-2 .text-1 {
    padding: 0px 1.2vw;
    font-weight: 700;
    font-size: 4vw;
    color: #75B89B;
}

.section-2 .text-2 {
    font-weight: 700;
    font-size: 4vw;
    color: #1A6755;
}

.section-2 .info {
    font-weight: 500;
    font-size: 1.5vw;
    color: #1A6755;
}
/* ------------------------------------ */

/* ------------- Card  ------------- */
.myCard {
    width: 45vw;
    height: 60vh;
    border-radius: 20px;
    box-shadow: 0px 4px 8px #D4D4D4;
    background-color: #FFF;
}

    .card1 {
        background: url(../assets/images/cuci-tangan.png) no-repeat;
    }

    .card1 > .text-1 {
        position: absolute;
        top: 32%;
        left: 36%;
        font-weight: 700;
        font-size: 4.9vw;
        color: #1A6755;
    }

    .card1 > .text-2 {
        position: absolute;
        top: 45%;
        left: 39%;
        font-weight: 500;
        font-size: 6.7vw;
        color: #75B89B;
    }

    .card2 {
        background: url(../assets/images/mask.png) no-repeat;
        background-position: right;
    }

    .card2 > .text-1 {
        position: absolute;
        top: 32%;
        left: 10.5%;
        font-weight: 700;
        font-size: 4.9vw;
        color: #1A6755;
    }

    .card2 > .text-2 {
        position: absolute;
        top: 45%;
        left: 5%;
        font-weight: 500;
        font-size: 6.7vw;
        color: #75B89B;
    }

    .card3 {
        background: url(../assets/images/jaga-jarak.png) no-repeat;
    }

    .card3 > .text-1 {
        position: absolute;
        top: 32%;
        left: 43%;
        font-weight: 700;
        font-size: 4.3vw;
        color: #1A6755;
    }

    .card3 > .text-2 {
        position: absolute;
        top: 45%;
        left: 46%;
        font-weight: 500;
        font-size: 6.7vw;
        color: #75B89B;
    }

    .info-3m {
        margin: 11vh auto;
        font-weight: 500;
        font-size: 1.7vw;
        color: #1A6755;
    }
/* ------------------------------------ */

/* ------------- Section 3  ------------- */
.section-3 {
    text-align: center;
}

.section-3 .heading {
    margin-bottom: 8vh;
    display: flex;
    justify-content: center;
}

.section-3 .text-1 {
    padding: 0px 1.2vw;
    font-weight: 700;
    font-size: 4vw;
    color: #75B89B;
}

.section-3 .text-2 {
    font-weight: 700;
    font-size: 4vw;
    color: #1A6755;
}

.section-3 .info {
    font-weight: 500;
    font-size: 1.5vw;
    color: #1A6755;
}

.section-3 > video {
    width: 75vw;
    height: auto;
}
/* ------------------------------------ */

/* ------------- Footer  ------------- */
footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1A6755;
    color: #FFF;
    font-weight: 700;
    font-size: 4vw;
    text-align: center;
}
/* ------------------------------------ */

.test-box {
    width: 100%;
    height: 100px;
    background-color: #B9DACA;
}

.test-box2 {
    width: 100%;
    height: 100px;
    background-color: #75B89B;
}

.cardMargin {
    margin-bottom: 10vw;
}