* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

body {
    background-color: #FBFBFB !important;
}

section {
    margin: 15vh 0px;
    padding: 0px 10%;
}

/* -------------- Navbar -------------- */
nav {
    padding-left: 10% !important;
    padding-right: 10% !important;
    background-color: #1A6755;
}

.navbar-toggler { 
	outline: none !important;
}

.navbar-brand {
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav-link {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    font-weight: 700;
	color:#FFF !important;
	transition: 0.4s;
}

.nav-link:hover {
	color: #D1FADE !important;
	transition: 0.4s;
}
/* ------------------------------------ */

/* ------------- Landing Page  ------------- */
.landing .text-1 {
    position: absolute;
    top: 27%;
    left: 13%;
    font-size: 3vw;
    color: #B9DACA;
}

.landing .text-2 {
    position: absolute;
    top: 31%;
    left: 13%;
    font-size: 15.5vw;
    font-weight: 700;
    color: #1A6755;
}

.landing .text-3 {
    position: absolute;
    top: 31%;
    right: 13%;
    font-size: 15.5vw;
    font-weight: 700;
    color: #1A6755;
}

.landing img {
    position: absolute;
    top: 29%;
    right: 13%;
    width: 41vw;
    height: auto;
}
/* ------------------------------------ */

/* ------------- Section 1  ------------- */
.section-1 {
    display: none;
}

.section-1 img {
    width: 340px;
    height: auto;
}

.section-1 .heading {
    margin-bottom: 8vh;
    display: flex;
    justify-content: center;
}

.section-1 .text-1 {
    padding: 0px 1.2vw;
    font-weight: 700;
    font-size: 4vw;
    color: #75B89B;
}

.section-1 .text-2 {
    font-weight: 700;
    font-size: 4vw;
    color: #1A6755;
}
/* ------------------------------------ */